@(contactForm: Form[views.formdata.ContactFormData])

    @import helper._
    @import views.html.bootstrap3._

    @Main("New Contact") {
        <div class="container">
        @form(routes.Application.postContact(), 'class -> "form-horizontal") {
            <input type="hidden"
                id="@contactForm("id").id"
                name="@contactForm("id").name"
                value="@contactForm("id").value">

                <!-- First Name -->
                @text(contactForm("firstName"),
                    label = "First",
                    placeholder = "First Name",
                    help = "")

                <!-- Last Name -->
                 @text(contactForm("lastName"),
                    label = "Last",
                    placeholder = "Last Name",
                    help = "")

                <!-- Telephone -->
                @text(contactForm("telephone"),
                    label = "Digits",
                    placeholder = "808-111-2222",
                    help = "")

                <!-- Address -->
                @text(contactForm("address"),
                    label = "Address",
                    placeholder = "222 Iolani Drive, Honolulu HI 96822",
                    help = "")

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        }
        </div>
    }